:root {
  --clr-blue: #00034C;
  --clr-white: white;
  --clr-grey: #EFEFEF;
  --clr-darkGrey: #464646;
  --font-800: 800;
  --font-700: 700;
  --font-600: 600;
  --font-400: 400;
  --font-300: 300;
}

.top {
  margin-bottom: 4rem;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

img {
  max-width: 100%;
}

.blue-txt {
  color: var(--clr-blue);
  font-weight: var(--font-700);
}

iframe {
  width: 100%;
}

button {
  align-self: flex-start;
  padding: 10px 20px;
  color: var(--clr-white);
  background: var(--clr-blue);
  border: none;
  cursor: pointer;
}

.bg img {
  width: 100%;
  height: 100dvh;
  position: absolute;
  z-index: -1;
}

.img-desk {
  display: none;
}

.hero {
  color: var(--clr-white);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  padding-inline: 2rem;
}
.hero * {
  margin-block: 0.2rem;
}
.hero h1 {
  font-weight: var(--font-800);
}

.about img {
  width: 100%;
}

article {
  padding-inline: 2rem;
  margin-block: 1rem;
}
article a {
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-blue);
}

.contact {
  padding-inline: 2rem;
  margin: 1rem 0;
}
.contact .bold {
  font-weight: 600;
}
.contact .input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin: 0.5rem, 0;
}
.contact .input input, .contact .input textarea {
  background-color: var(--clr-grey);
  border: none;
}
.contact .input input::-moz-placeholder, .contact .input textarea::-moz-placeholder {
  color: var(--clr-darkGrey);
  padding-inline: 0.5rem;
  font-weight: var(--font-300);
}
.contact .input input::placeholder, .contact .input textarea::placeholder {
  color: var(--clr-darkGrey);
  padding-inline: 0.5rem;
  font-weight: var(--font-300);
}
.contact .input textarea {
  margin-bottom: 1rem;
}

footer {
  background: var(--clr-blue);
  display: flex;
  flex-direction: column;
  color: var(--clr-white);
  padding-inline: 2rem;
}
footer .nav {
  display: grid;
  margin-top: 1rem;
}
footer .nav a {
  color: var(--clr-white);
  text-decoration: none;
}
footer .nav a:hover {
  text-decoration: underline;
}
footer .map {
  display: none;
}

/* APPROACH PAGE */
.flex {
  display: flex;
  flex-direction: column;
}
.flex .block {
  display: flex;
  flex-direction: column;
  gap: 0;
}
.flex .block-grey {
  background: var(--clr-grey);
}
.flex .block-blue {
  background: var(--clr-blue);
  color: var(--clr-white);
}
.flex .block-blue h3 {
  font-weight: var(--font-700);
}

@media (min-width: 1000px) {
  p {
    width: 75ch;
  }
  .img-desk {
    display: block;
  }
  .img-mobile {
    display: none;
  }
  /* APPROACH PAGE */
  .flex {
    flex-direction: row;
    gap: 0;
  }
  .flex .block {
    margin: 0;
    padding: 0;
    max-width: 600px;
  }
  .flex .block p {
    max-width: 60ch;
  }
  form {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
  }
  form input {
    height: 2rem;
    width: 500px;
  }
  form textarea {
    width: 500px;
  }
  footer {
    flex-direction: row;
    align-items: center;
    padding-inline: 5rem;
    gap: 3rem;
    position: relative;
  }
  footer .info {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
  footer .nav {
    gap: 1rem;
  }
  footer .map {
    display: block;
  }
  footer .map iframe {
    top: 0;
    right: 0;
    height: 150px;
    max-width: 300px;
    position: absolute;
  }
}/*# sourceMappingURL=style.css.map */