
footer{
    width: 100%;
    background: var(--clr-blue);
    position: absolute;
    bottom: 0;
    .nav-items{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        a{
            color: var(--clr-white);
            text-decoration: none;
        }
    }
    hr{
        color: var(--clr-white);
    }
    .info{
        display: flex;
        flex-direction: column;
        gap: .5rem;
        color: var(--clr-white);
    }
    .icons{
        display: flex;
    }
}